<div class='notification is-{{@type}}' data-test-notification ...attributes>
  {{#if @close}}
    <button class='delete' type='button' data-test-notification-close {{on 'click' @close}}></button>
  {{/if}}
  {{yield}}
</div>